{% extends "base.html" %}
{% load html text %}

{% block title %}Курсовые работы{% endblock %}

{% block content_head %}Курсовые работы{% endblock %}

{% block content_left %}
<div class="uk-text-justify">
<p><a href="{% url 'projects:open-index' %}">Открытые темы</a></p>
</div>

{% regroup courseproject_list by course_semester as projects_by_semester %}
<h2>Список курсовых работ</h2>
    {% for semester in projects_by_semester %}
        <h3>{{ semester.grouper.course_version.course.title }}
            <small class="uk-muted">v{{ semester.grouper.course_version.version }}</small>,
            {{ semester.grouper.number }} семестр
        </h3>

        {% regroup semester.list by student.group as projects_by_group %}

        <table class="uk-table uk-table-hover">
        {% for projects_in_group in projects_by_group %}
            <tr>
                <td colspan="3" class="uk-text-center uk-text-bold">Группа {{ projects_in_group.grouper }}</td>
            </tr>
            <tr>
                <th class="uk-width-3-10">Студент</th>
                <th class="uk-width-6-10">Тема</th>
                <th class="uk-width-1-10">Оценка</th>
            </tr>
            {% for p in projects_in_group.list %}
            <tr>
                <td class="uk-width-3-10">{{ p.student | link_icon }}</td>
                <td class="uk-width-6-10">{{ p | link_icon }}</td>
                <td class="uk-width-1-10">{{ p.mark | default:'—' }}</td>
            </tr>
            {% endfor %}
        {% endfor %}
        </table>
    {% endfor %}
{% endblock %}

{% block content_right %}
<div class="uk-panel-box uk-margin">
    <h2 class="uk-panel-title">Поиск</h2>
</div>

<div class="uk-panel-box uk-margin">
    <h2 class="uk-panel-title">Информация</h2>
    <table>
        <tbody>
        <tr>
            <th>Всего:</th>
            <td>{{ courseproject_list | length }} {{ courseproject_list | length | pluralize_ru:'работа,работы, работ' }}</td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}