{% extends "students/base.html" %}
{% load html %}

{% block title %}Группа {{ group }}{% endblock %}

{% block breadcrumb %}
{% spaceless %}
{{ block.super }}
<li>
    {{ group | link }}
</li>
{% endspaceless %}
{% endblock %}

{% block content %}
<h1>Группа {{ group.name }}
    {% if group.code %}({{ group.code }}) {% endif %}
    {% if group.distance_learning %} — заочное обучение {% endif %}
    {% if user.is_superuser %}
    <small>
        <a href="{% url 'students-group-edit' group_id=group.id %}">
            <span class="glyphicon glyphicon-edit"></span>
        </a>
    </small>
    <small>
        <a href="{% url 'students-group-delete' group_id=group.id %}">
            <span class="glyphicon glyphicon-trash"></span>
        </a>
    </small>
    {% endif %}
</h1>

<p>Специальность: {{ group.speciality.code }} «{{ group.speciality.name }}»</p>
<p>Годы обучения: {{ group.years }}</p>

<h2>Состав группы
    {% if user.is_superuser %}
    <small>
        <a href="{% url 'students-group-add-student' group_id=group.id %}">
            <span class="fa fa-plus"></span>
        </a>
    </small>
    {% endif %}
</h2>

<ol>
    {% for student in students %}
    <li>
        {% if student.sent_down %}
        <del>
            {% endif %}
            {{ student | link_icon }}
            {% if student.sent_down %}
        </del>
        {% endif %}
    </li>
    {% endfor %}
</ol>
{% endblock %}