{% extends "base.html" %}
{% load html %}
{% load text %}

{% block title %}Группы{% endblock %}

{% block content_head %}Студенческие группы{% endblock %}

{% block content_left %}
<p>Ниже перечислены группы, с которыми мне довелось работать. Списки могут быть
    неполны, так как иногда я работал только с некоторыми студентами из группы.
    Или наоборот, в списках могут быть студенты, которые были отчислены.</p>

<h2>Обучающиеся сейчас
    {% if user.is_superuser %}
        <a href="{% url 'students:group-create' %}"><i class="uk-icon-plus"></i></a>
    {% endif %}
</h2>
<ul class="uk-list">
    {% for group in group_list %}
    {% if not group.finished %}
    <li>
        {{ group | link_icon }} —
        <i>{{ group.num_students }} {{ group.num_students | pluralize_ru:"студент,студента,студентов"}}</i>
        {% if user.is_staff %}
            <a href="{% url 'students:group-edit' pk=group.id %}"><i class="uk-icon-edit uk-text-primary"></i></a>
            <a href="{% url 'students:group-delete' pk=group.id %}"><i class="uk-icon-trash uk-text-danger"></i></a>
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>

{% if group_list %}
<h2>Закончившие обучение</h2>
<p>Многие группы уже закончили обучение. Они дополнительно отмечены годом выпуска.</p>
<ul class="uk-list">
    {% for group in group_list %}
    {% if group.finished %}
    <li>
        {{ group | link_icon }} —
        <i>{{ group.num_students }} {{ group.num_students | pluralize_ru:"студент,студента,студентов"}}</i>
        {% if user.is_staff %}
            <a href="{% url 'students:group-edit' pk=group.id %}"><i class="uk-icon-edit uk-text-primary"></i></a>
            <a href="{% url 'students:group-delete' pk=group.id %}"><i class="uk-icon-trash uk-text-danger"></i></a>
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}
{% endblock %}


{% block content_right %}
<div class="uk-panel-box uk-margin">
    <h2 class="uk-panel-title">Информация</h2>
    <p>
        Всего в базе в настоящее время
        {{ students_total }}
        {{ students_total | pluralize_ru:"студент,студента,студентов"}}.
    </p>
</div>
{% endblock %}