{% extends "students/base.html" %}
{% load html %}

{% block title %}Группа {{ group }}{% endblock %}

{% block breadcrumb %}
{% spaceless %}
{{ block.super }}
<li>
    <a href="{% url 'students-group-detail' group_id=group.id %}">Группа {{ group }}</a>
</li>
{% endspaceless %}
{% endblock %}

{% block content %}
<h1>Группа {{ group.name }}
    {% if group.code %}({{ group.code }}) {% endif %}
    {% if group.distance_learning %} — заочное обучение {% endif %}
</h1>
<p>Специальность: {{ group.speciality.code }} «{{ group.speciality.name }}»</p>
<p>Годы обучения: {{ group.years }}</p>

<h2>Состав группы</h2>
<ol>
    {% for student in students %}
    <li>
        {% if student.sent_down %}
        <del>
            {% endif %}
            {{ student | to_link }}
            {% if student.sent_down %}
        </del>
        {% endif %}
    </li>
    {% endfor %}
</ol>
{% endblock %}