{% extends "students/base.html" %}
{% load html %}
{% load text %}

{% block title %}Группы{% endblock %}

{% block content %}
<h1>Студенческие группы</h1>

<p>
    Ниже перечислены группы, с которыми мне довелось работать. Списки могут быть
    неполны, так как иногда я работал только с некоторыми студентами из группы.
    Или, наоборот, в списках могут быть студенты, которые были отчислены.
</p>

<p>
    Всего в базе в настоящее время
    {{ students_total }}
    {{ students_total | plural_ru:"студент,студента,студентов"}}.
</p>

<h2>Обучающиеся сейчас
    {% if user.is_superuser %}
    <small><a href="{% url 'students-group-create' %}">
        <span class="fa fa-plus"></span>
    </a></small>
    {% endif %}
</h2>
<ul class="list-unstyled">
    {% for group in group_list %}
    {% if not group.finished %}
    <li>
        {{ group | link_icon }} —
        <i>{{ group.num_students }} {{ group.num_students | plural_ru:"студент,студента,студентов"}}</i>
    </li>
    {% endif %}
    {% endfor %}
</ul>

{% if group_list %}
<h2>Закончившие обучение</h2>
<p>Многие группы уже закончили обучение. Они дополнительно отмечены годом выпуска.</p>
<ul class="list-unstyled">
    {% for group in group_list %}
    {% if group.finished %}
    <li>
        {{ group | link_icon }} —
        <i>{{ group.num_students }} {{ group.num_students | plural_ru:"студент,студента,студентов"}}</i>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}
{% endblock %}