{% extends "students/base.html" %}
{% load html %}

{% block title %}{{ student.surname_initials }}{% endblock %}

{% block breadcrumb %}
{% spaceless %}
{{ block.super }}
<li>
    {{ student | link }}
</li>
{% endspaceless %}
{% endblock %}

{% block content %}
<h1>
    {{ student.surname }} {{ student.name }} {{ student.patronymic }}
    {% if not user.is_anonymous and user.is_superuser %}
    <small>
        <a href="{% url 'students-edit' student_id=student.id %}">
            <span class="glyphicon glyphicon-edit"></span>
        </a>
    </small>
    <small>
        <a href="{% url 'students-delete' student_id=student.id %}">
            <span class="glyphicon glyphicon-trash"></span>
        </a>
    </small>
    {% endif %}
</h1>
<p>Группа: {{ student.group | link_icon }}</p>

{% if courseworks %}
<h2>Курсовые работы</h2>
<ul class="list-unstyled">
    {% for cw in courseworks %}
    <li>{{ cw | link_icon }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if diplomaworks %}
<h2>Квалификационная работа</h2>
<ul class="list-unstyled">
    {% for dw in diplomaworks %}
    <li>{{ dw | link_icon }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}