{% extends "seminars/base.html" %}
{% load markdown %}
{% load fa_filetype %}

{% block title %}{{ seminar.title }}{% endblock %}

{% block breadcrumb %}
{% spaceless %}
{{ block.super }}
<li><a href="{{ seminar.get_absolute_url }}">{{ seminar }}</a></li>
{% endspaceless %}
{% endblock %}

{% block content %}
<h1>{{ seminar.title }}
    {% if seminar.date %}
    <br>
    <small>{{ seminar.date | date:'d.m.Y' }}</small>
    {% endif %}
</h1>

<div class="row">
    <div class="col-md-4">
        <table class="table table-bordered">
            <tr>
                <th>Докладчик</th>
                <td>
                    {% if seminar.speaker_user.student %}
                    <span class="text-muted glyphicon glyphicon-user"></span>&nbsp;<a
                        href="{{ seminar.speaker_user.student.get_absolute_url }}">
                    {{ seminar.speaker_user.student.surname_initials }}
                </a>
                    {% elif seminar.speaker_user %}
                    {{ seminar.speaker_user.first_name }} {{ seminar.speaker_user.last_name }}
                    {% elif seminar.speaker %}
                    {{ seminar.speaker }}
                    {% else %}
                    —
                    {% endif %}
                </td>
            </tr>
            {% if seminar.date %}
            <tr>
                <th>Дата</th>
                <td>{{ seminar.date | date:'d M Y' }}</td>
            </tr>
            <tr>
                <th>Время</th>
                <td>{{ seminar.date | date:'H' }}<sup>{{ seminar.date | date:'i' }}</sup></td>
            </tr>
            {% endif %}
            {% if seminar.venue %}
            <tr>
                <th>Место</th>
                <td>{{ seminar.venue }}</td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>
{{ seminar.description | markdown }}

{% if materials %}
<h2>Материалы
    {% if user.is_superuser %}
    <small><a href="{% url 'seminars-file-add' seminar_id=seminar.id %}">
        <span class="fa fa-plus"></span>
    </a></small>
    {% endif %}
</h2>
<ol>
    {% for material in materials %}
    <li>
        <p><span class="fa {{ material.file | fa_filetype }} fa-lg"></span>
            <a href="{{ material.file.url }}">{{ material.title }}</a></p>
        {{ material.description | markdown }}
    </li>
    {% endfor %}
</ol>
{% endif %}

{% endblock %}