{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-2">
        <h1>Добро пожаловать!</h1>

        <blockquote><p>Думаю, что всё мало-мальски ценное, чему я научился, приобретено мною путём самообразования.</p>
            <small>Чарлз Дарвин</small></blockquote>

        <p>Меня зовут Вадим Игоревич Великодный. С 2006 года я работаю на
            <a href="http://fmf.spsu.ru">физико-математическом факультете</a>
            <a href="http://spsu.ru">Приднестровского государственного университета им.&nbsp;Т.&nbsp;Г.&nbsp;Шевченко</a>.
            Основное место работы — кафедра прикладной математики и информатики, где меня легко найти.</p>

        <p>Цель этого сайта — помочь студентам нашей кафедры организовать свою самостоятельную работу.
            </p>
    </div>
    <div class="uk-width-medium-1-2">
        <img src="{% static 'welcome.jpeg' %}" width="660" height="400">
    </div>
</div>

<hr class="uk-grid-divider">

<h2 class="uk-text-center">Разделы сайта</h2>

<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-4">
        <div class="uk-grid">
            <div class="uk-width-1-6">
                <i class="uk-icon-book uk-icon-large uk-text-primary"></i>
            </div>
            <div class="uk-width-5-6">
                <h2 class="uk-h3">Учёба</h2>
                <p>В этом разделе можно найти информацию о читаемых мной дисциплинах, задания,
                    экзаменационные вопросы и учебные пособия.</p>
            </div>
        </div>
    </div>

    <div class="uk-width-medium-1-4">
        <div class="uk-grid">
            <div class="uk-width-1-6">
                <i class="uk-icon-flask uk-icon-large uk-text-primary"></i>
            </div>
            <div class="uk-width-5-6">
                <h2 class="uk-h3">Дополнительно</h2>
                <p>Здесь приводятся сведения помогающие организовать своё самообучение:
                    тематика индивидуальных проектов, расписание семинаров, материалы для самостоятельного изучения.</p>
            </div>
        </div>
    </div>

    <div class="uk-width-medium-1-4">
        <div class="uk-grid">
            <div class="uk-width-1-6">
                <i class="uk-icon-calendar uk-icon-large uk-text-primary"></i>
            </div>
            <div class="uk-width-5-6">
                <h2 class="uk-h3">Мероприятия</h2>
                <p>На факультете регулярно проводятся соревнования по программированию и тематические мероприятия.
                    Информацию о будущих и прошедших мероприятиях можно найти в этом разделе сайта.</p>
            </div>
        </div>
    </div>

    <div class="uk-width-medium-1-4">
        <div class="uk-grid">
            <div class="uk-width-1-6">
                <i class="uk-icon-info-circle uk-icon-large uk-text-primary"></i>
            </div>
            <div class="uk-width-5-6">
                <h2 class="uk-h3">Информация</h2>
                <p>Здесь публикуются сведения о специальностях, правила и инструкции, регулирующие учебный процесс.</p>
            </div>
        </div>
    </div>
</div>

<hr class="uk-grid-divider">

<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-1">
        <div class="uk-panel uk-panel-box uk-text-center">
            <p><strong>Сайт пока в разработке!</strong> Значительная часть информации всё ещё находится в старой версии. <a class="uk-button uk-button-primary uk-margin-left" href="http://edu.velikodniy.name">Перейти</a></p>
        </div>
    </div>
</div>
{% endblock %}