{% extends "courseworks/base.html" %}

{% load markdown %}
{% load fa_filetype %}
{% load text %}
{% load html %}

{% block title %}{{ work.title }}{% endblock %}

{% block breadcrumb %}
{% spaceless %}
{{ block.super }}
<li>
    <a href="{% url 'courseworks-detail' coursework_id=work.id %}">
        {{ work.student.surname_initials }} «{{ work.title }}»
    </a>
</li>
{% endspaceless %}
{% endblock %}

{% block content %}
<h1>{{ work.student.surname_initials }} «{{ work.title }}»
    {% if work.year %}
    <br>
    <small>{{ work.academic_year }} уч. год{% if work.semester %}, {{ work.semester }} семестр{% endif %}</small>
    {% endif %}
</h1>
<div class="row">
    <div class="col-md-8">
        <table class="table table-bordered">
            {% if work.student %}
            <tr>
                <th>Выполнил</th>
                <td>{{ work.student | link_icon }}</td>
            </tr>
            <tr>
                <th>Группа</th>
                <td>{{ work.student.group | link_icon }}</td>
            </tr>
            {% endif %}
            {% if work.course %}
            <tr>
                <th>Дисциплина</th>
                <td>{{ work.course.title }}</td>
            </tr>
            <tr>
                <th>Специальность</th>
                <td>{{ work.course.speciality }}</td>
            </tr>
            <tr>
                <th>Кафедра</th>
                <td>{{ work.course.chair }}</td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>
{% if work.mark %}
<p>Работа была защищена на оценку «<em>{{ work.mark | mark_to_text }}</em>».</p>
{% endif %}

{% if work.slides %}
<p>
    <span class="fa {{ work.slides | fa_filetype }} fa-lg"></span>
    <a href="{{ work.slides.url }}">Слайды</a>
</p>
{% endif %}
{% if work.text %}
<p>
    <span class="fa {{ work.text | fa_filetype }} fa-lg"></span>
    <a href="{{ work.text.url }}">Текст работы</a>
</p>
{% endif %}
{% if work.materials %}
<p>
    <span class="fa {{ work.materials | fa_filetype }} fa-lg"></span>
    <a href="{{ work.materials.url }}">Дополнительные материалы</a>
</p>
{% endif %}
{% if work.description %}
<h2>Описание</h2>
{{ work.description | markdown }}
{% endif %}

{% endblock %}