{% extends "courseworks/base.html" %}
{% load html %}

{% block title %}Открытые темы{% endblock %}

{% block breadcrumb %}
{% spaceless %}
{{ block.super }}
<li>
    <a href="{% url 'courseworks-index-finished' %}">Свободные темы</a>
</li>
{% endspaceless %}
{% endblock %}

{% block content %}
<h1>Открытые темы</h1>
{% if works_wo_student %}
{% regroup works_wo_student by course as wbc %}
{% for wl in wbc %}
<h2>{{ wl.grouper | default:'Прочее' }}</h2>
<ol>
    {% for w in wl.list %}
    <li>{{ w | link_icon }}</li>
    {% endfor %}
</ol>
{% endfor %}
{% else %}
<p>Не знаю, что вам предложить…</p>
{% endif%}
{% endblock %}