{% extends "diplomaworks/base.html" %}

{% load text %}

{% block content %}
        <h1>Квалификационные работы</h1>

<p><a href="{% url 'diplomaworks-index-open' %}">Открытые темы</a></p>

        <h2>Текущие темы</h2>
        {% if works_current %}
            <table class="table table-hover">
            <tr>
                <th class="col-md-2">Студент</th>
                <th class="col-md-2">Группа</th>
                <th class="col-md-8">Тема</th>
            </tr>
            {% for w in works_current %}
            <tr>
                <td>{{ w.student.to_link | safe }}</td>
                <td>{{ w.student.group.to_link | safe }}</td>
                <td>{{ w.to_link | safe }}</td>
            </tr>
            {% endfor %}
            </table>
        {% endif %}

        <h2>Завершённые работы</h2>
        {% if works_finished %}
            <table class="table table-hover">
            <tr>
                <th class="col-md-1">Год</th>
                <th class="col-md-2">Студент</th>
                <th class="col-md-2">Группа</th>
                <th class="col-md-6">Тема</th>
                <th class="col-md-1">Оценка</th>
            </tr>
            {% for w in works_finished %}
            <tr>
                <td>{{ w.year }}</td>
                <td>{{ w.student.to_link | safe }}</td>
                <td>{{ w.student.group.to_link | safe }}</td>
                <td>{{ w.to_link | safe }}</td>
                <td>{{ w.mark | default:'—' }}</td>
            </tr>
            {% endfor %}
            </table>
        {% endif %}
{% endblock %}