{% extends "base.html" %}
{% load html %}
{% load text %}

{% block title %}Читаемые курсы{% endblock %}

{% block content_head %}Читаемые курсы{% endblock %}

{% block content_left %}
    <p>Ниже перечислены курсы, читаемые мной в разное время. Список не полный,
        для части курсов сведения на сайте отсутствует, но база постоянно пополняется.</p>
    <p>Курсы со временем модифицируются, поэтому у многих курсов есть несколько версий.
        Версии помечаются буквой «v» с номером после названия курса. Также некоторые
        курсы отмечены как завершённые. Это означает, что либо курс больше
        не преподаётся, либо его читает другой преподаватель.</p>

    <h2>Список курсов по специальностям</h2>
    {% regroup course_list by specialty as courses %}
    <table class="uk-table uk-table-hover">
        <tbody>
        {% for course in courses %}
            <tr><td colspan="3" class="uk-text-center"><strong>{{ course.grouper }}</strong></td></tr>
            <tr>
                <th>№</th>
                <th>Название курса</th>
            </tr>
            {% for c in course.list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ c | link_icon }}
                    {% if c.last_version_a %}
                        <span class="uk-text-muted">v{{ c.last_version_a }}</span>
                    {% endif %}
                    {% if c.closed %}
                        — <em>Завершён</em>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block content_right %}
    <div class="uk-panel-box uk-margin">
        <h2 class="uk-panel-title">Информация</h2>
        <table class>
            <tbody>
                <tr>
                    <th>Всего:</th>
                    <td>{{ course_list|length }} {{ course_list|length|pluralize_ru:'курс,курса,курсов' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}