{% extends "base.html" %}
{% load staticfiles html %}

{% block head %}<script src="{% static 'js/components/accordion.js' %}"></script>{% endblock %}
{% block title %}{{ course.title }}{% endblock %}

{% block content %}
<h1>{{ course.title }}
{% if courseversion %}- v{{ courseversion.version }}{% endif %}
{% if course.closed %}- Дисциплина не преподаётся{% endif %}
</h1>

<p>Краткое название: {{ course.abbreviation }}</p>
<p>Специальность: {{ course.specialty }}</p>
<p>Кафедра: {{ course.chair }}</p>

{% if versions %}
<p>Версии:
    {% for ver in versions %}
        <a href="{% url 'courses:course-version-detail' pk=ver.id %}">v{{ ver.version }}</a>{% if not forloop.last %},{% endif %}
    {% endfor %}
</p>
{% endif %}

<h2>Описание дисциплины</h2>
{{ course.description | markdown }}

{% if courseversion %}
<h2>Описание версии</h2>
{{ courseversion.version_description | markdown }}

{% if semesters %}
<h2>Семестры курса</h2>
<div class="uk-accordion" data-uk-accordion>

    {% for sem in semesters %}
    <h3 class="uk-accordion-title">Семестр {{ sem.number }}</h3>
    <div class="uk-accordion-content">
        <p>Лекции: {{ sem.lecture_time }}</p>
        <p>Практические занятия: {{ sem.practice_time }}</p>
        <p>Лабораторные работы: {{ sem.lab_time }}</p>

    </div>
    {% endfor %}
</div>
{% endif %}
{% else %}
<h2>У дисциплины нет версий</h2>
{% endif %}
{% endblock %}