{% extends "base.html" %}
{% load html %}

{% block title %}{{ course.title }}{% endblock %}

{% block content %}
<h1>{{ course.title }}
{% if courseversion %}- v{{ courseversion.version }}{% endif %}
{% if course.closed %}- Дисциплина не преподаётся{% endif %}
</h1>

<p>Краткое название: {{ course.abbreviation }}</p>
<p>Специальность: {{ course.specialty }}</p>
<p>Кафедра: {{ course.chair }}</p>

<h2>Описание дисциплины</h2>
{{ course.description | markdown }}

{% if courseversion %}
<h2>Описание версии</h2>
{{ courseversion.version_description | markdown }}
{% else %}
<h2>У дисциплины нет версий</h2>
{% endif %}

{% endblock %}