{% extends "base.html" %}
{% load html text %}

{% block title %}Учебные пособия{% endblock %}

{% block content_head %}
    Учебные пособия
    {% if user.is_staff %}
        <small><a href="{% url 'textbooks:create' %}"><i class="uk-icon-plus uk-text-primary"></i></a></small>
    {% endif %}
{% endblock %}

{% block content_left %}
<p>В этом разделе приводится список учебных пособий и других публикаций, используемых в различных курсах,
    а также рекомендуемых для самостоятельного изучения.</p>

<p>По ссылке можно посмотреть полную информацию о публикации, скачать её текст и дополнительные материалы.</p>

<ol>
    {% for tb in textbook_list %}
    <li><a href="{% url 'textbooks:detail' pk=tb.id %}">{{ tb }}</a></li>
    {% endfor %}
</ol>
{% endblock %}

{% block content_right %}
<div class="uk-panel-box uk-margin">
    <h2 class="uk-panel-title">Информация</h2>
    <table>
        <tbody>
        <tr>
            <th>Всего:</th>
            <td>{{ textbook_list | length }} {{ textbook_list | length | pluralize_ru:'пособие,пособия,пособий' }}</td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}