{% extends "base.html" %}
{% load html static %}

{% block head %}{% include '_inc/editor_head.html' %}{% endblock %}

{% block title %}
{% if textbook %}
    {{ textbook.authors }} «{{ textbook.title }}» [Правка]
{% else %}
    Новое учебное пособие
{% endif %}
{% endblock %}

{% block content %}
<h1>
    {% if textbook %}
        <small>{{ textbook.authors }}</small><br>{{ textbook.title }} [Правка]
    {% else %}
        Новое учебное пособие
    {% endif %}
</h1>

{% include '_gen/form.html' %}
{% endblock %}